/* Css for input fields */
input {
    border: 0;
    outline: 0;    
    border-bottom: 2px solid black;
    height: 30px;
    width: 100%;
    font-family: 'PT Serif';
    padding: 0;
    vertical-align: bottom;
    transition: 200ms;
}
label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
    font-family: 'PT Serif';
    top: -30px;
    left: 5px;
    font-size: 20px;
    transition: 200ms;
    vertical-align: top;
}
input:focus {
    border-color: #947171;
}
form {
    padding: 20px;
}
/* Css for button */
.normalButton {
    position: absolute;
    top: 140px;
    right: 40px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    font-size: 20px;
    font-family: 'PT Serif';
    font-weight: normal;
    background-color: #E8CDAD;
    color: #332020;
    transition: 200ms;
    margin: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 50%);
}
.normalButton:hover {
    background-color: #947171;
}
.googleButton {
    position: absolute;
    height: 50px;
    top: 200px;
    border: none;
    border-radius: 10px;
    width: calc(100% - 40px);
    font-size: 20px;
    font-family: 'PT Serif';
    font-weight: normal;
    background-color: #E8CDAD;
    color: #332020;
    transition: 200ms;
    margin-left: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 50%);
}
.googleButton:hover {
    background-color: #947171;
}

.googleButton img {
    position: relative;
    right: -10px;
}

.showPassword {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 73px;
    color: grey;
}