.titleScreen {
    background-color: #E8CDAD;
    width: 100%;
    height: 500px;
}
.tsButtons {
    position: absolute;
    left: calc(50% - 100px);
    top: 450px;
}
/* Css for buttons in the title screen */
.tsButtons input{
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #332020;
    transition: 300ms;
}
.tsButtons input:hover{
    appearance: none;
    background-color: #33202020;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #5c3b3b;
}
.tsButtons input:checked{
    appearance: none;
    background-color: #332020;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #332020;
}

/* Css for the title slides */
.title1 {
    width: 50%;
    top: 150px;
    left: 50px;
    position: absolute;
    display: block;
    font-family: "PT Serif";
    font-size: 100px;
    color: #332020;
    font-weight: bold;
}
.titleVideo {
    position: absolute;
    right: 100px;
    top: 170px;

}
.tsSlide {
    transition: 500ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.titleMeme img {
    position: absolute;
    height: 300px;
    top: 150px;
    left: 100px;
}
.slogan2 {
    width: 70%;
    top: 100px;
    right: 40px;
    position: absolute;
    display: block;
    font-family: "PT Serif";
    font-size: 60px;
    color: #332020;
    font-weight: normal;
    text-align: right;
}

.titleFamily img {
    position: absolute;
    height: 300px;
    top: 150px;
    left: 100px;
}

.shortTit3 {
    width: 70%;
    top: 200px;
    right: 150px;
    position: absolute;
    display: block;
    font-family: "PT Serif";
    font-size: 80px;
    color: #332020;
    font-weight: bold;
    text-align: right;
}
.shortDesc3 {
    width: 70%;
    top: 300px;
    right: 50px;
    position: absolute;
    display: block;
    font-family: "PT Serif";
    font-size: 70px;
    color: #332020;
    font-weight: normal;
    text-align: right;
}
.shortDesc4 {
    width: 50%;
    top: 130px;
    right: 50px;
    position: absolute;
    display: block;
    font-family: "PT Serif";
    font-size: 80px;
    color: #332020;
    font-weight: normal;
    text-align: right;
}
.shortTit5 {
    width: 70%;
    top: 150px;
    right: 150px;
    position: absolute;
    display: block;
    font-family: "PT Serif";
    font-size: 80px;
    color: #332020;
    font-weight: bold;
    text-align: right;
}
.shortDesc5 {
    width: 70%;
    top: 250px;
    right: 50px;
    width: 50%;
    height: 300px;
    position: absolute;
    display: block;
    font-family: "PT Serif";
    font-size: 70px;
    color: #332020;
    font-weight: normal;
    text-align: right;
}

/* Css for the first description */
.introDescription {
    height: 300px;
    width: 100%;
}
.descVideo {
    left: 50px;
    top: 540px;
    position: absolute;
}
.descShort1 {
    position: absolute;
    top: 530px;
    right: 50px;
    display: block;
    width: 600px;
    font-size: 25px;
    text-align: left;
    font-family: 'PT Serif';
}
.divider1 {
    margin-left: 50px;
    margin-right: 50px;
    color: #747474;
    border-radius: 40%;
    border-width: 1px;
}

/* Css for the second description */
.split1 {
    display: block;
    position: absolute;
    font-size: 30px;
    left: 50px;
    width: 600px;
    font-family: 'PT Serif';
    top: 830px;
}

.split2 {
    display: block;
    position: absolute;
    font-size: 30px;
    right: 50px;
    width: 600px;
    font-family: 'PT Serif';
    top: 830px;
    text-align: right;
}

.splitDescription {
    width: 100%;
    height: 270px;
}
.divSplit1 {
    position: absolute;
    top: 1040px;
    left: 50px;
    color: #747474;
    border-radius: 40%;
    border-width: 1px;
    width: 600px;
}
.divSplit2 {
    position: absolute;
    top: 1040px;
    right: 50px;
    color: #747474;
    border-radius: 40%;
    border-width: 1px;
    width: 600px;
}

/* Css for the feedback preview */
.feedbackPreview {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #E8CDAD;
    text-align: center;
    vertical-align:middle;
}
/* Css for the contact links */

.facebookLink {
    width: 100%;
    height: 60px;
}
.facebookLink img {
    height: 50px;
    position: relative;
    top: 5px;
    left: 10px;
}
.facebookLinkText {
    position: relative;
    font-size: 30px;
    left: 40px;
    top: -7px;
    font-family: 'PT Serif';
}